<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeremyliao.module_a">

    <application android:name="com.jeremyliao.lib_common.BaseApplication">
        <activity android:name=".ModuleAActivity"></activity>
    </application>

</manifest>